.b-footer {
    background-image: url('../assets/images/footer-bg.jpg');
    //background-color: #004d95;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


}

.column {
    width: calc(100% /2);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-start;
    .col-3 {
        width: calc((100% - 200px) / 3);
         display: flex;
         margin: 0 50px;
        ul {
           display: inline-block;
            li {
                display: flex;
                flex-direction: row;
                color: lightgrey;
                h3{
                   text-transform: uppercase; 
                }
                
            }
        }
    }
}


.dc-footer-bg{
   background-image:url('../assets/images/dc-logo-bg.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 450px;
    height: 500px;
    margin-top: -100px;
    margin-left: 60px;
    padding-right: 20px;
}
.follow{
    color: $background-blue;
    text-transform: uppercase;
}
.d-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.bg-grey{
    background-color: rgb(85, 85, 85);
}
button{
    background-color: grey;
    border: 2px solid $background-blue;
    padding: 5px;
    color: white;
    margin-top: 25px;
}